# User Testing Report

User testing was conducted by Sheena Ravary on October 24, 2013 between the times of 3pm and 4:30pm with the following participants:

- Sylvia Mccauley
- Jenny Chew
- Celta Riden

## Tasks

1. Go to History Page
2. Go to tricks pages
3. Go to Home Page

---

## Individual Results & Observations

### Sylvia McCauley

- History link works
- link to next 1970s page is broken

### Jenny Chew

- History link is easy to find and works
- Broken link to the 1970s
- She knew that the home link was the logo
- Maybe put a search bar

### Celta Riden

- All links were obvious
- Didn't know logo was home page link
- Whole top part is acting as a link to home page

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Broken link
- Maybe make a Home link in the Nav

### Serious, Causes Frustration, May Hinder Completion
- 
- etc.

### Minor, Annoying, Won’t Hinder Completion

- Broken link to the 1970s