<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../css/general.css" rel="stylesheet">
<title>Untitled Document</title>
</head>

<body>
<img src="../img/logo.svg" alt="" class="flex-img">
<header>
	
		<nav>
			<ul>
				<li><a href="../history.html" class="color">History</a></li>
				<li><a href="../../../../SCHOOL/Design for Interactive IV/large-data-website/services.html" class="color">Homies</a></li>
				<li><a href="mailto:s.r.ravary@gmail.com" class="color">Culture</a></li>
				<li><a href="mailto:s.r.ravary@gmail.com" class="color">Tricks</a></li>
			</ul>
		</nav>
</header>

{{content}}

<footer> © Sheena Ravary 2013 All Rights Reserved</footer>




<body>
</body>
</html>
