<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="History of Skateboarding from 1940s to Present">
<meta name="author" content="Sheena Ravary">
<link href="{{site.baseurl}}/css/general.css" rel="stylesheet">
<title>History of Skateboarding</title>
</head>

<body class="{{page.bodyClass}}">

<a href="{{site.baseurl}}/index.html"><img src="{{site.baseurl}}/img/logo.svg" alt="History of Skateboarding Logo" class="flex-img"></a>
<header>
	
		<nav>
			<ul>
				<li><a href="../history.html" class="color">History</a></li>
				<li><a href="../../../../SCHOOL/Design for Interactive IV/large-data-website/services.html" class="color">Homies</a></li>
				<li><a href="mailto:s.r.ravary@gmail.com" class="color">Culture</a></li>
				<li><a href="mailto:s.r.ravary@gmail.com" class="color">Tricks</a></li>
			</ul>
		</nav>
</header>

{{content}}

</body>
</html>
