<!doctype html>
<html>
<head>
<link href="{{site.baseurl}}/css/general.css" rel="stylesheet">
<meta charset="UTF-8">
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="History of Skateboarding from 1940s to Present">
<meta name="author" content="Sheena Ravary">
<meta property="og:type" content="article">
<meta property="og:title" content="History of Skateboarding">
<meta property="og:url" content="http://sheenaravary.github.io/large-data-website/"><!-- link to page -->
<meta property="og:img" content="http://domain.com/img/image.jpg"><!-- what image you want to show; img size: 200x200, recommened 1500x1500-->
<!--  should include -->
<meta property="og:description" content="History of Skateboarding from 1940s to Present"><!--  try n limit content  -->
<meta property="og:site_name" content="History of Skateboarding">

<title>History of Skateboarding</title>
</head>

<body class="{{page.bodyClass}}">

<a href="{{site.baseurl}}/index.html" class="logo"><img src="{{site.baseurl}}/img/logo.png" alt="History of Skateboarding Logo" class="flex-img"></a>
<header>
		<nav>
			<ul>
				<li><a href="{{site.baseurl}}/history.html" class="color">History</a></li>
				<li><a href="{{site.baseurl}}/homies.html" class="color">Homies</a></li>
				<li><a href="{{site.baseurl}}/culture.html" class="color">Culture</a></li>
				<li><a href="{{site.baseurl}}/tricks.html" class="color">Tricks</a></li>
			</ul>
		</nav>
</header>


<div class="container">
	{{content}}
	<footer>© Sheena Ravary 2013 All Rights Reserved</footer>
</div>

</body>
</html>
